<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.blog.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wj.blog.model.entity.Article">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="title" property="title"/>
        <result column="context" property="context"/>
        <result column="thumbnail" property="thumbnail"/>
        <result column="category_id" property="categoryId"/>
        <result column="password" property="password"/>
        <result column="source_link" property="sourceLink"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="release_time" property="releaseTime"/>
    </resultMap>

    <resultMap id="articleListResultMap" type="com.wj.blog.model.dto.ArticleDto">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="context" property="context"/>
        <result column="thumbnail" property="thumbnail"/>
        <result column="release_time" property="releaseTime"/>
        <result column="source_link" property="sourceLink"/>
        <association property="category" javaType="com.wj.blog.model.entity.Category">
            <id column="category_id" property="id"/>
            <result column="category_name" property="name"/>
        </association>
        <association property="author" javaType="com.wj.blog.model.dto.UserDto">
            <id column="user_id" property="id"/>
            <result column="user_name" property="name"/>
            <result column="avatar" property="avatar"/>
        </association>
    </resultMap>

    <resultMap id="articleDetailResultMap" type="com.wj.blog.model.dto.ArticleDto">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="context" property="context"/>
        <result column="thumbnail" property="thumbnail"/>
        <result column="release_time" property="releaseTime"/>
        <association property="author" javaType="com.wj.blog.model.dto.UserDto">
            <id column="user_id" property="id"/>
            <result column="user_name" property="name"/>
            <result column="avatar" property="avatar"/>
        </association>
        <association property="category" javaType="com.wj.blog.model.entity.Category">
            <id column="category_id" property="id"/>
            <result column="category_name" property="name"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, title, context, thumbnail, category_id, article_password, source_link, status, create_time,
        update_time, release_time, is_delete
    </sql>

    <!--    List<ArticleDto> selectArticleList(String title, String author, Integer startPageNumber, Integer size);-->

    <select id="selectArticleList" resultMap="articleListResultMap">
        SELECT
        article.id,
        title,
        context,
        thumbnail,
        release_time,
        u.id AS user_id,
        u.name AS user_name,
        u.avatar,
        c.id AS category_id,
        c.name AS category_name
        FROM article
        LEFT JOIN user u ON u.id = article.user_id
        LEFT JOIN category c ON c.id = article.category_id
        <if test="null!=articleQueryParam">
            <trim prefix="WHERE" prefixOverrides="AND">
                <if test="articleQueryParam.title!=null">
                    title LIKE concat("%",#{articleQueryParam.title},"%")
                </if>
                <if test="articleQueryParam.author!=null">
                    AND u.name LIKE concat("%",#{articleQueryParam.author},"%")
                </if>
                <if test="articleQueryParam.categoryId!=null">
                    AND c.id =#{articleQueryParam.categoryId}
                </if>
                <if test="articleQueryParam.startTime!=null">
                    AND release_time >= #{articleQueryParam.startTime}
                </if>
                <if test="articleQueryParam.endTime!=null">
                    AND #{articleQueryParam.endTime} >=release_time
                </if>
            </trim>
            <if test="articleQueryParam.page!=null and articleQueryParam.size!=null">
                limit #{articleQueryParam.page},#{articleQueryParam.size}
            </if>
        </if>
    </select>

    <!--    ArticleDto searchArticleDetail(@Param("id") String id);-->
    <select id="searchArticleDetail" resultMap="articleDetailResultMap">
        SELECT article.id,
               title,
               article.context,
               thumbnail,
               release_time,
               u.id   AS user_id,
               u.name AS user_name,
               avatar,
               c.id   AS tag_id,
               c.name AS tag_name
        FROM article
                 LEFT JOIN user u ON u.id = article.user_id
                 LEFT JOIN category c ON c.id = article.category_id
        WHERE article.id = #{id}
    </select>

</mapper>
